anyio==4.4.0
convert_numbers==0.4
easyocr==1.7.1
fastapi==0.112.2
idna==3.8
imageio==2.35.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
pydantic==2.8.2
python-multipart==0.0.9
requests==2.32.3
torch==2.3.1
torchvision==0.18.1
ultralytics==8.2.87
urllib3==2.2.2
uvicorn==0.30.6
