<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/landing_page.css">
        <title>FastAPI Landing Page</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to FastAPI!</h1>
            <p>Your FastAPI application is running smoothly.</p>
            <a href="/upload">
                <button class="button">Upload Image</button>
            </a>
        </div>
    </body>
    </html>